.owl-carousel--glory{
  margin-top: 100px;

}

.item-team__photo--glory{
  background: url('../img/images/photo-bg2.png') no-repeat center;
  background-size: 296px 410px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.95);
  .item-team__photo-inner{
    border:none;
  }
}