.content--historySlide{
  width:100%;
  min-width: 1730px;
}

.item-history{
  height: 700px;
  padding:45px 0;
  color:#fff;

}
.item-history--inner{
  height:100%;
  margin-left: -15px;
  overflow:hidden;
  @include clearfix();
}

.historySlide-link{
  display:block;
  height:100%;
}

//-------------history slide
.owl-carousel--history{
  position: relative;
  margin-top: 30px;
  border-top:2px solid #fff;
  &:after{
    content:'';
    position:absolute;
    z-index: 1;
    left:0;
    right:0;
    top:45px;
    bottom:145px;
    background:url('../img/images/line-v.png') repeat-x;
  }
  .owl-stage-outer{
    z-index: 2;
    margin-bottom: 80px;
    border-bottom: 2px solid #fff;
  }
  .owl-controls{
    border-top: 3px solid #fff;
    box-shadow: 0px -3px 2px -3px rgba(255,255,255,1);
  }
}

.owl-carousel--historyItem{
  .owl-stage-outer{
    z-index: 2;
    margin-bottom: 80px;
  }
  .owl-controls{
    border-top: 3px solid #fff;
    box-shadow: 0px -3px 2px -3px rgba(255,255,255,1);
  }
}

.owl-carousel--history .owl-item.active.center{
  background: rgba(255,0,0,.5);
  box-shadow: 0px 0px 18px 4px rgba(255,0,0,.9);
}
//----------------------dots

.owl-carousel--history .owl-dots,
.owl-carousel--historyItem .owl-dots{
  padding-left:165px;
}
.owl-carousel--history .owl-dot,
.owl-carousel--historyItem .owl-dot{
  position:relative;
  display: inline-block;
  margin: 0 22px;
  width: 110px;
  height: 55px;
  &:after{
    content:'';
    position:absolute;
    top:-6px;
    left:50%;
    width:2px;
    height:6px;
    background:#fff;
    box-shadow: 0px -1px 5px 0px rgba(255,255,255,1);
  }
}
.history-dots{
  position: relative;
  margin: -35px 0 0 165px;
}


.history-dot{
  display: inline-block;
  height:35px;
  margin: 0 20px;
  vertical-align: top;
  font-size: 30px;
  line-height:30px;
  font-family: 'pf_din_text_comp_proregular';
  text-shadow:0 2px 4px #000;
}
.history-dots-pos{
  position: absolute;
  z-index: 3;
  top:-65px;;
  left:45px;
  width: 62px;
  height: 70px;
  background: url('../img/images/logo-sm-sh.png') no-repeat center;
  background-size: 62px 70px;
  transition: all ease-out .5s;
  transform: translate(0,0);
}

//----------------------gallery link
.gallery-link{
  position: absolute;
  z-index: 1;
  top:5px;
  left:0;
  display: block;
  font-size: 45px;
  text-transform: uppercase;
  text-shadow:0 2px 4px #000;
}

//---------------------history images list
.item-history__photo-wrap{
  position: relative;
  display:inline-block;
  max-width: 290px;
  vertical-align: top;
  margin: 0 0 10px 15px;
}

.item-history__photo{
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(211,196,197,1) 49%, rgba(186,162,163,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(211,196,197,1) 49%,rgba(186,162,163,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(211,196,197,1) 49%,rgba(186,162,163,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#baa2a3',GradientType=0 );
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.95);
}
.item-history__photo-inner{
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(186,162,163,1);
  &:before{
    content: '';
    position: absolute;
    z-index: 2;
    left:0;
    top:-2px;
    width: 100%;
    height: 1px;
    box-shadow: 0px 0px 0px 2px rgba(50, 50, 50, 0.85);
  }
  img{
    // position: absolute;
    // z-index: 1;
    max-width: 270px;
    height:auto;
    // left:0;
  }
}

.item-history__photo-caption{
  font-family: 'pf_din_text_comp_prothin';
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  color:#fff;
  text-transform: uppercase;
  text-shadow:0 2px 1px #000;
}

.item-history__period{
  position:absolute;
  bottom:-18px;
  left:50%;
  margin-left: -50px;
  font-size: 30px;
  text-shadow:0 2px 1px #000;
}

//----------------------------------history item
.owl-carousel--historyItem{
  margin-bottom: 5px;
  .item-history{
    height:790px;
    padding: 45px 38px;
  }
  .item-history--inner{
    margin:0;
  }
  & + .history-dots .history-dots-pos{
    top:-70px;
  }
}

.item-history__left{
  float: left;
  width:288px;
  margin-right: 25px;
  .item-history__photo-wrap{
    margin: 0 10px 10px 0;
  }
  .item-history__photo-inner img{
    max-width: 250px;
  }
  .inner{
    height:700px;
  }
  .jspPane{
    padding: 0 !important;
  }
}

.item-history__center{
  float:left;
  margin-right: 25px;
  .item-man__body{
    width:1190px;
    height:700px;
  }
}


.item-history__right{
  float:right;
  width:288px;
  height:700px;
  .item-history__photo-wrap{
    margin: 0 0 10px 0;
  }
  .item-history__photo-inner img{
    max-width: 255px;
  }
 .jspPane{
    padding: 0 !important;
  }
}

.item-history__photo-inner--video{
  &:after{
    content:'';
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    display:block;
    width:50px;
    height:50px;
    margin: -25px 0 0 -25px;
    background:url('../img/images/play-v.png') no-repeat center;
  }
}

#video-modal{
  display:none;
}

//----------------------grid for history slider
.owl-carousel--history .owl-stage .owl-item:nth-child(2) .historySlide-link{
 .item-history__photo-wrap:nth-child(2),
 .item-history__photo-wrap:nth-child(3),
 .item-history__photo-wrap:nth-child(4),
 .item-history__photo-wrap:nth-child(6),
 .item-history__photo-wrap:nth-child(7),
 .item-history__photo-wrap:nth-child(8),
 .item-history__photo-wrap:nth-child(10),
 .item-history__photo-wrap:nth-child(12),
 .item-history__photo-wrap:nth-child(13),
 .item-history__photo-wrap:nth-child(14),
 .item-history__photo-wrap:nth-child(16),
 .item-history__photo-wrap:nth-child(17),
 .item-history__photo-wrap:nth-child(18),
 .item-history__photo-wrap:nth-child(20),
 .item-history__photo-wrap:nth-child(21),
 .item-history__photo-wrap:nth-child(22){
   width: 100px;
 }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(2) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(4),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(7),
  .item-history__photo-wrap:nth-child(8),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(12),
  .item-history__photo-wrap:nth-child(13),
  .item-history__photo-wrap:nth-child(14),
  .item-history__photo-wrap:nth-child(16),
  .item-history__photo-wrap:nth-child(17),
  .item-history__photo-wrap:nth-child(18),
  .item-history__photo-wrap:nth-child(20),
  .item-history__photo-wrap:nth-child(21),
  .item-history__photo-wrap:nth-child(22){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(3) .historySlide-link{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(7),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12){
    width: 100px;
  }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(3) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(7),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(4) .historySlide-link{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(7),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(16){
    width: 100px;
  }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(4) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(7),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(16){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(5) .historySlide-link{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(7),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(16),
  .item-history__photo-wrap:nth-child(17),
  .item-history__photo-wrap:nth-child(20),
  .item-history__photo-wrap:nth-child(21),
  .item-history__photo-wrap:nth-child(22),
  .item-history__photo-wrap:nth-child(24),
  .item-history__photo-wrap:nth-child(25),
  .item-history__photo-wrap:nth-child(30),
  .item-history__photo-wrap:nth-child(31),
  .item-history__photo-wrap:nth-child(32),
  .item-history__photo-wrap:nth-child(34),
  .item-history__photo-wrap:nth-child(35){
    width: 100px;
  }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(5) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(7),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(16),
  .item-history__photo-wrap:nth-child(17),
  .item-history__photo-wrap:nth-child(20),
  .item-history__photo-wrap:nth-child(21),
  .item-history__photo-wrap:nth-child(22),
  .item-history__photo-wrap:nth-child(24),
  .item-history__photo-wrap:nth-child(25),
  .item-history__photo-wrap:nth-child(30),
  .item-history__photo-wrap:nth-child(31),
  .item-history__photo-wrap:nth-child(32),
  .item-history__photo-wrap:nth-child(34),
  .item-history__photo-wrap:nth-child(35){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(6) .historySlide-link{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11){
    width: 100px;
  }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(6) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(7) .historySlide-link{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(9),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(13),
  .item-history__photo-wrap:nth-child(14),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(20),
  .item-history__photo-wrap:nth-child(21),
  .item-history__photo-wrap:nth-child(22){
    width: 100px;
  }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(7) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(5),
  .item-history__photo-wrap:nth-child(6),
  .item-history__photo-wrap:nth-child(9),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(13),
  .item-history__photo-wrap:nth-child(14),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(20),
  .item-history__photo-wrap:nth-child(21),
  .item-history__photo-wrap:nth-child(22){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(8) .historySlide-link{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(18){
    width: 100px;
  }
}
.owl-carousel--historyItem .owl-stage .owl-item:nth-child(8) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(18){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(9) .historySlide-link{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(9),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(13),
  .item-history__photo-wrap:nth-child(14),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(21),
  .item-history__photo-wrap:nth-child(22),
  .item-history__photo-wrap:nth-child(23){
    width: 100px;
  }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(9) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(1),
  .item-history__photo-wrap:nth-child(2),
  .item-history__photo-wrap:nth-child(3),
  .item-history__photo-wrap:nth-child(9),
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(13),
  .item-history__photo-wrap:nth-child(14),
  .item-history__photo-wrap:nth-child(15),
  .item-history__photo-wrap:nth-child(21),
  .item-history__photo-wrap:nth-child(22),
  .item-history__photo-wrap:nth-child(23){
    width: 100px;
  }
}

.owl-carousel--history .owl-stage .owl-item:nth-child(10) .historySlide-link{
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12),
  .item-history__photo-wrap:nth-child(17),
  .item-history__photo-wrap:nth-child(18),
  .item-history__photo-wrap:nth-child(19){
    width: 100px;
  }
}

.owl-carousel--historyItem .owl-stage .owl-item:nth-child(10) .item-history__left .jspPane{
  .item-history__photo-wrap:nth-child(10),
  .item-history__photo-wrap:nth-child(11),
  .item-history__photo-wrap:nth-child(12),
  .item-history__photo-wrap:nth-child(17),
  .item-history__photo-wrap:nth-child(18),
  .item-history__photo-wrap:nth-child(19){
    width: 100px;
  }
}