.nav-wrap{
}

nav{
  text-align: center;
}
.nav-list{
  position: relative;
  margin: auto;
  padding: 0;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  width: 1710px;
  display: flex;
}

.nav-list-sup{
  position: absolute;
  z-index: -1;
  width: 100%;
  left:0;
  top:245px;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  display: flex;
  opacity:0;
  transition: opacity linear .3s;
  li:first-child{width: 503px;}
  li:nth-child(2){width: 545px;}
  li:last-child{width: 428px;}
  &.open{z-index: 11;opacity:1;}
}


.nav-link{
  font-family: 'pf_din_text_comp_proregular';
  text-transform: uppercase;
  font-size: 65px;
  line-height: 65px;
  text-decoration: none;
  color:#fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  i{
    margin-bottom: 110px;
  }
}

//------------------ball
.ball-lg{
  display: block;
  width: 505px;
  height: 505px;
  background-image: url('../img/images/ball-sprite-lg.png');
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

//------------------cup
.cup-lg{
  display: block;
  width: 505px;
  height: 505px;
  background: url('../img/images/cup-lg.png') center;
  background-repeat: no-repeat;
  background-size:cover;
}
//------------------logo
.logo-lg{
  display: block;
  width: 428px;
  height: 505px;
  background: url('../img/images/logo-lg.png') center;
  background-repeat: no-repeat;
  background-size: contain;
}
//--------------------------nav-backdrop
.nav-backdrop{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  min-width: 1730px;
  min-height: 850px;
  z-index: 10;
  background: rgba(0,0,0,.7);
}
//------------------------------i-close
.i-close{
  display: block;
  width: 95px;
  height: 95px;
  background: url('../img/images/nav-sprite.png') no-repeat;
  background-position: -1px -4px;
  cursor: pointer;
  &:hover{
    background-position: -1px -105px;
  }
}

.nav-backdrop .i-close{
  position: absolute;
  z-index: 11;
  top:55px;
  right:35px;
}

//--------------------animate ball sprite
@keyframes ballRotate{
  0%{
    background-position: -10px -10px;
  }
  15%{
    background-position: -10px -535px;
  }
  30{
    background-position: -10px -1060px;
  }
  45%{
    background-position: -10px -1585px;
  }
  60%{
    background-position: -10px -2110px;
  }
  75%{
    background-position: -10px -2635px;
  }
  90%{
    background-position: -10px -3160px;
  }
  100%{
    background-position: -10px -3160px;
  }
}
