//
// Navs
// --------------------------------------------------
// Base class
// --------------------------------------------------

.nav {
  margin-bottom: 50px;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      text-align: center;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      border-color: #000;
    }
  }
}

// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  width: 100%;
  text-align: center;
  > li:first-child{
    padding-left: 0;
  }
  > li:last-child{
    padding-right: 0;
  }
  > li {
    display: inline-block;
    padding:0  30px;
    // Actual tabs (as links)
    > a {
      color:#fff;
      text-decoration: none;
      font-size: 50px;
      text-transform: uppercase;
      font-family: 'pf_din_text_comp_proregular', sans-serif;
      text-shadow: 0 2px 4px #000;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        cursor: default;
        text-shadow: 0px 0px 13px rgba(245, 29, 146, 1);
      }
    }
  }
}

.nav-tabs--pr{

  > li {
    > a{
      background: #6d6782;
      color:#fff;
    }
  }
}


// Tabbable tabs 6d6782
// -------------------------
.tab-content {
   padding: 10px;
   > .tab-pane {
     display: none;
   }
   > .active {
     display: block;
   }
 }

.tab-content--opacity {
  > .tab-pane {
    display: block;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  > .active {
    opacity:1;
    height: auto;
    overflow: visible;
  }
}

.tab-content--event{
  padding: 0;
}

.tab-content--margin{
  margin: 0 10px;
}

.tab-pane__slider{
  padding: 0 82px;
}

.tab-pane__slider--m{
  padding: 0 70px 0 80px;
}
.tab-pane__slider--h{
  padding: 0;
}