.item-man
    .item-man__photo
        span.item-man__photo-inner
            img(src='#{director.photo}', alt='')
    .item-man__body.scroll-pane
        .item-man-name #{director.name}
        .item-man-text
            each text in director.data
               p #{text}