.item-man
    .item-team.item-team--player
        a.item-team__photo(href='#')
            span.item-team__photo-inner
                img(src='img/images/sergeyR.jpg', alt='')
    .item-man__body
        .item-man-name.item-man-name--margin Сергей Рыжиков
        .item-man-position.uppercase вратарь
        .item-man-text
            .item-man-text__left
                .item-man__info
                    .item-man-birthday.uppercase дата рождения: 19 сентября 1980
                    .item-man-nation.uppercase гражданство: Россия
                    .item-man-data.uppercase данные: рост 192 см, вес 92 кг.
                    .item-man-pos.uppercase позиция: вратарь
                p
                    | В бытность игроком выступал за
            .item-man-text__right
                .item-man-text--title.uppercase статистика игрока
                .table-wrap
                    table.table-team
                        thead
                            tr
                                th Сезон
                                th Игры
                                th Голы
                                th
                                    .card.card-yellow
                                    .card.card-red
                        tbody
                            tr
                                td Лига Чемпионов 2010/11
                                td 6
                                td 0
                                td 1/0
                            tr
                                td СОГАЗ-Чемпионат России 2011/12
                                td 41
                                td 0
                                td 2/1
                            tr
                                td СОГАЗ-Чемпионат России 2012/13
                                td 0
                                td 0
                                td 2/2
                .item-man-text--title.uppercase другие сезоны
                .table-wrap
                    table.table-team
                        thead
                            tr
                                th Сезон
                                th Команда
                                th Голы
                                th Чемпионат
                                th Кубок
                                th Дубль
                                th Еврокубки
                        tbody
                            tr
                                td 1999
                                td Салют-Юкос Белгород
                                td 0
                                td 1/0
                                td В
                                td -
                                td -
                            tr
                                td 2000
                                td Салют-Юкос Белгород
                                td 0
                                td 1/0
                                td В
                                td -
                                td -
                            tr
                                td 2001
                                td Салют-Юкос Белгород
                                td 0
                                td 1/0
                                td В
                                td -
                                td -