.item-man
   .item-man__photo
      span.item-man__photo-inner
         img(src='#{glory.photo}', alt='')
   .item-man__body.scroll-pane
      .item-man-name #{glory.name}
      .item-man-text
         each text in glory.text
            p #{text}