.item-team.item-glory
    a.item-team__photo.item-team__photo--glory(href='#', data-item=index, data-link='gloryItem')
        span.item-team__photo-inner
            img(src='#{glory.photo}', alt='')
    .item-team__body
        .item-team-name #{glory.name}