.item-history
	.item-history--inner
		a.historySlide-link(href="#" data-link="historyItem" data-item="#{index}")
			each image in history.images
				.item-history__photo-wrap
					.item-history__photo
						.item-history__photo-inner
							img(src="#{image.imageSmall}")
					.item-history__photo-caption #{image.caption}		
	.item-history__period
		svg(height="40" width="110")
			text(fill="url(#gradC)" font-family="pf_din_text_comp_proregular" x="2" y="30") #{history.period}