@font-face {
  font-family: 'pf_din_text_comp_proregular';
  src: url('fonts/pfdintextcomppro/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
  url('fonts/pfdintextcomppro/pfdintextcomppro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}